*{
    margin: 0;
    padding: 0;
}
#h2-title{
    color: red;
    border: 3px;
}

.EventBinding{
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
}

.ngTemplate{
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
}