li{
    list-style: none;
}

table, th, td{
    border: 1px solid black;
}

.sale {
    color: red;
    font-weight: bold;
}

th, td{
    padding: 5px;
}

.vidu  {
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
}