<p>home works!</p>
<h2 id="h2-title">Compunent Home</h2>
<h3>Name: {{name}}</h3>
<input type="text" name="" id="" value="{{name}}">
<br>
<input type="text" name="" id="" [value]="name" title="This is your Name {{name}}">
<br>
<input type="text" name="" id="" [value]="name" [title]="'This is your name: '   + name">
@if(age > 18){
    <h2>You very OLD !!!</h2>
}@else {
    <h2>You are Young Buffalo !!!</h2>
}

<h2 *ngIf="age > 18">Tren 18</h2>

<!-- () Đưa từ HTML vào code, [] Lấy từ code ra HTML -->
<!-- Event Binding -->

<div class="EventBinding" >
    <h1>Event Binding</h1>
    <input type="text" [(ngModel)]="yourName" placeholder="Enter your name" />
    <h3 id="h3-yourName">Hello {{yourName}}</h3>
    <button (click)="resetname()"> Click Here</button>
</div>
    <!-- [(ngModel)]:

    Liên kết dữ liệu hai chiều giữa yourName và input.
    Khi nhập vào input, giá trị yourName sẽ tự động cập nhật và hiển thị trong h3.
    Hàm resetname():

    Khi bấm nút, hàm resetname() sẽ được gọi, đặt yourName về chuỗi rỗng ('').
    Thêm FormsModule:

    FormsModule được thêm vào imports trong @Component để hỗ trợ [(ngModel)].
    -->